<div class="pagination">
  <div class="row">
    <div class="col-3"></div>
    <div class="bg-gray" style="padding: 3%; width: 750px; height: 10px; padding: 30px; display: flex; align-items: center; justify-content: center;">
      <span>
        <% if pagination.previous_page? %>
          <%= link_to t('buttons.first'), payment_methods_path(page: 1), class: 'padding-right: 20px'%>
          <%= link_to t('buttons.previous'), payment_methods_path(page: pagination.previous_page), class: 'padding-right: 20px' %>
        <% else %>
          <span style="padding-right: 20px"> <%= t 'buttons.first' %> </span>
          <span style="padding-right: 20px"> <%= t 'buttons.previous' %> </span>
        <% end %>
         <span style="padding-right: 20px"><%= "Página #{pagination.page} de #{pagination.total_pages}" %> </span>
        <% if pagination.next_page? %>
          <%= link_to t('buttons.next'), payment_methods_path(page: pagination.next_page ), style: 'padding-right: 20px'  %>
          <%= link_to t('buttons.next'), payment_methods_path(page: pagination.total_pages ), style: 'padding-right: 20px' %>
        <% else %>
          <span style="padding-right: 20px"> <%= t 'buttons.next' %> </span>
          <span style="padding-right: 20px"> <%= t 'buttons.last' %> </span>
        <% end %>
      </span>
    </div>
  </div>
</div>