<h2>Detalhes do Meio de Pagamento</h2>

<dl>
  <dt><%= PaymentMethod.human_attribute_name(:name)%>:</dt>
  <dd><%= @payment_method.name %></dd>
  <dt><%= PaymentMethod.human_attribute_name(:tax_percentage)%>:</dt>
  <dd><%= @payment_method.tax_percentage %></dd>
  <dt><%= PaymentMethod.human_attribute_name(:tax_maximum)%>:</dt>
  <dd><%= @payment_method.tax_maximum %></dd>
  <dt><%= PaymentMethod.human_attribute_name(:payment_type)%>:</dt>
  <dd><%= @payment_method.payment_type%></dd>
  <dt><%= PaymentMethod.human_attribute_name(:status)%>:</dt>
  <dd><%= I18n.t(@payment_method.status) %></dd>
</dl>