<h2> Cobranças </h2>

<article>
  <main>
  <h3> <%= t 'invoice_list' %> </h3>
  <% if @invoices.any? %>
    <table class="table table-striped", style="width: 100%">
      <thead>
        <tr>
          <th scope="col"><%= Invoice.human_attribute_name :token %></th>
          <th scope="col"><%= Invoice.human_attribute_name :status %></th>
          <th scope="col"><%= Invoice.human_attribute_name :insurance_company_id %></th>
          <th scope="col"><%= Invoice.human_attribute_name :package_id %></th>
          <th scope="col"><%= Invoice.human_attribute_name :registration_number %></th>
        </tr>
      </thead>
      <% @invoices.each do |invoice| %>
        <tbody>
          <tr>
            <td><%= invoice.token %></td>
            <td><%= t(invoice.status) %></td>
            <td><%= invoice.insurance_company_id %></td>
            <td><%= invoice.package_id %></td>
            <td><%= invoice.registration_number %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>

  </main>
</article>