<article>
  <header>
    <h2> <%= t 'messages.new_report' %> </h2>
    <%= render 'application/errors', model: @fraud_report %>
  </header>
  <main>
    <%= form_with model: @fraud_report do |f| %>
      <p>
        <%= f.label :registration_number, class: 'form-label' %>
        <%= f.number_field :registration_number, placeholder: 'CPF do cliente', class: 'form-control', style:'max-width: 30rem' %>
      </p>
      <p>
        <%= f.label :description, class: 'form-label' %>
        <%= f.text_area :description, placeholder: 'Causas da denúncia', class: 'form-control', style:"max-width: 30rem" %>
      </p>
      <p>
        <p> <strong> <%= t 'messages.add_images' %> </strong> </p>
        <%= f.label :images, class: 'form-label' %>
        <%= f.file_field :images, multiple: true, class: 'form-control", style:"max-width: 30rem'  %>
        <% if @fraud_report.images.attached? %>
          <p class="fst-italic">
            <% @fraud_report.images.each do |i| %>
              <p> <%= i.filename %> </p>
            <% end %>
          </p>
        <% end %>
      </p>
      <p>
        <%= f.submit t('buttons.send'), class: 'btn btn-primary' %>
      </p>
    <% end %>
  </main>
</article>