<article>
  <main>
    <%= form_with model: [@user, @user_approval] do |user| %>
      <p>
        <span> <%= t 'approve_register' %> </span>
        <%= user.radio_button :status, true%>
        <%= user.label :status, 'Sim', value: true  %>
        <%= user.radio_button :status, false  %>
        <%= user.label :status, 'Não', value: false  %>
      </p>
      <p>
        <%= user.label :refusal %>
        <%= user.text_field :refusal %>
      </p>
      <p>
        <%= user.submit t('buttons.send') %>
      </p>
    <% end %>
  </main>
</article>