<%= form_with model: payment_option do |f| %>
  <p class="form-group">
    <%= f.hidden_field :payment_method_id %>
  </p>
  <p class="form-group" style="width: 30%">
    <%= f.label :max_parcels, CompanyPaymentOption.human_attribute_name(:max_parcels) %>
    <%= f.number_field :max_parcels, class: "form-control" %>
  </p>
  <p class="form-group" style="width: 30%">
    <%= f.label :single_parcel_discount %>
    <%= f.number_field :single_parcel_discount, class: "form-control" %>
  </p>
  <%= f.submit t('buttons.send') %>
<% end %>