<article>
  <header>
    <h2> <%= t 'messages.payment_option_details' %> </h2>
    <hr>
  </header>
  <main>
    <div class="card-header bg-transparent border-dark"> 
      <h4> <%= @payment_option.decorate.with_payment_method_name %> </h4>
    </div>
      <div class="row g-0">
        <div class="col-md-4">
          <% if @payment_option.payment_method.image.attached? %>
            <p> <%= image_tag @payment_option.payment_method.image, class:"card-img-top"%> </p>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <p>
                <li class="list-group-item"> 
                  <%= PaymentMethod.human_attribute_name(:payment_type) %>: 
                  <%= @payment_option.payment_method.payment_type %>
                </li>
              </p>
              <p>
                <li class="list-group-item"> 
                  <%= CompanyPaymentOption.human_attribute_name(:max_parcels) %>: 
                  <%= @payment_option.max_parcels %>x 
                </li>
              </p>
              <p>
                <li class="list-group-item"> 
                  <%= CompanyPaymentOption.human_attribute_name(:single_parcel_discount) %>:
                  <%= @payment_option.decorate.show_discount_if_present %> 
                </li>
              </p>
              <p>
                <li class="list-group-item"> 
                  <%= CompanyPaymentOption.human_attribute_name(:user_id) %>:
                  <%= @payment_option.decorate.user_name_and_email %>
                </li>
              </p>
              <p>
                <li class="list-group-item"> 
                  <%= link_to t('buttons.edit'), edit_company_payment_option_path(@payment_option), class: "card-link" %>
                </li>
              </p>
              <p>
              <li class="list-group-item"> 
                  <%= button_to t('buttons.remove'), company_payment_option_url(@payment_option.id), method: :delete, class: "btn btn-primary  btn-m" %>
              </li>
              </p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</article>