<div class="card bg-gray" style="padding: 3%; width: 25%;">
<div id="login-fields">
  <h1 class="h3 mb-3 fw-normal"><%= t 'admin_login' %></h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style:"width: 70%" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", style:"width: 70%" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Login", class: "btn btn-primary  btn-m" %>
    </div>
  <% end %>
</div>
<%= render "admins/shared/links" %>
</div>