<h1>Promoções</h1>
<hr>
<%= link_to 'Cadastrar promoção', new_promo_path, class: 'btn btn-primary' %>
<hr>

<% if @promos.any? %>
  <% @promos.each do |p| %>
    <div>
      <h3><%= Promo.human_attribute_name(:promo) %>: <%=  link_to p.name, promo_path(p.id) %></h3>
 
      <dl>
        <dt><strong> <%= Promo.human_attribute_name(:voucher)%>: </strong> <%= p.voucher %> </dt>
    </div>
  <% end %>
<% else %> 
  <p>Nenhuma promoção cadastrada.</p>
<% end %>