<% if(@promo.errors.any?) %>
<p>Verifique os erros abaixo:</p>
<ul>
  <% @promo.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<h1>Cadastrar promoção</h1>
<%= form_with(model: @promo, url: promos_path)  do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div>
    <%= f.label :starting_date %>
    <%= f.text_field :starting_date, class: "form-control" %>
  </div>
  <div>
    <%= f.label :ending_date %>
    <%= f.text_field :ending_date, class: "form-control" %>
  </div>
  <div>
    <%= f.label :discount_percentage %>
    <%= f.number_field :discount_percentage, class: "form-control" %>
  </div>
  <div>
    <%= f.label :discount_max %>
    <%= f.number_field :discount_max, class: "form-control" %>
  </div>
  <div>
    <%= f.label :product_list %>
    <%= f.text_field :product_list, class: "form-control" %>
  </div>
  <div>
    <%= f.label :usages_max %>
    <%= f.number_field :usages_max, class: "form-control" %>
  </div>
  <div>
    <%= f.submit 'Salvar' %>
  <div>
<% end %>

