<h2> <%= Promo.human_attribute_name(:promo) %>: <%= @promo.name %> </h2>
<% if user_signed_in? %>
  <hr>
  <%= link_to 'Editar', edit_promo_path(@promo.id), class: "btn btn-primary  btn-m" %>
  <hr>
<% end %>
<dl>
  <dt><strong><%= Promo.human_attribute_name(:starting_date) %>: </strong><%= I18n.localize(@promo.starting_date) %></dt>
  <dt><strong><%= Promo.human_attribute_name(:ending_date) %>: </strong><%= I18n.localize(@promo.ending_date) %></dt>
  <dt><strong><%= Promo.human_attribute_name(:usages_max) %>: </strong><%= @promo.usages_max %></dt>
  <dt><strong><%= Promo.human_attribute_name(:voucher) %>: </strong><%= @promo.voucher %></dt>
  <dt><strong><%= Promo.human_attribute_name(:discount_percentage) %>: </strong><%= @promo.discount_percentage %> %</dt>
  <dt><strong><%= Promo.human_attribute_name(:discount_max) %>: </strong> <%= number_to_currency(@promo.currency, unit: "R$", separator: ",", delimiter: "") %></dt>
</dl>



<table >
<% begin %>
  <%= form_with model: [@promo, @promo_product] do |product| %>
  <% unless @available_products.empty? %>
  <div id="product_select">
    <dl>
      <dt><%= product.label :product_id %>
      <%= product.select :product_id, @available_products, { class:"form-select" }, prompt: true %>
      <%= product.submit 'Selecionar Produto', class: "btn btn-primary  btn-m"%></dt>
    </dl>
  </div>
  <% end %>
  <% end %>
<table class="table table-striped table-bordered bg-gray" style="width: 50%;">
  <thead>
    <tr>
      <th scope="col">Produtos inclusos nesta promoção</th>  
    </tr>
  </thead>
  <% if @promo.promo_products.present? %>
    <% @promo.promo_products.each do |product| %>
      <tbody>
          <div id="<%= product.id %>">
          <td><%= ProductsApi.all.find {|obj| obj.id == product.product_id}.product_model %></td>  
          <td><%= button_to "Remover", promo_promo_product_path(@promo, product.id), method: :delete, class: "btn btn-primary  btn-m"%></td>     
          </div>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
<% rescue %>
<% end %>


