<!DOCTYPE html>
<html>
  <head>
    <title>PaymentAntifraudApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <nav>
    <section>
      <% if user_signed_in? %>
        <%= user_greetings(current_user) %>
        <%= button_to 'Logout', destroy_user_session_path, method: 'delete', class: "btn btn-secondary btn-m" %>
        <% if current_user.pending? %>
          <span> Aguardando aprovação do administrador do sistema. </span>
        <%end %>
      <% else %>
        <%= link_to 'Fazer Login', new_user_session_path %>
      <% end %>
    </section>
    <section>
      <% if admin_signed_in? %>
        <%= user_greetings(current_admin) %>
        <%= link_to 'Usuários cadastrados', registered_users_path %>
        <%= button_to 'Logout', destroy_admin_session_path, method: 'delete', class: "btn btn-secondary btn-m" %>
      <% end %>
    </section>
  </nav>

  <body>
    <%= notice %>
    <%= yield %>
  </body>
</html>
