<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'app_name' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id ='nav'>
    <% if user_signed_in? %>
      <%= render 'users/users_nav' %>
    <% elsif admin_signed_in? %>
      <%= render 'admins/admins_nav' %>
    <% else %>
      <%= render '/visitors_nav' %>
    <% end %>
    <main>
      <% if notice %>
        <p class="alert alert-success"> <%= notice %> </p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"> <%= alert %> </p>
      <% end %>
      <div class="container-flex mx-auto px-3 rounded"  style="padding: 2%; width: 98%;">
        <%= yield %>
      </div>
    </main>
  </body>
  
</html>
