<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'app_name' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id = 'nav'>
    <header class="p-3 mb-3 border-bottom bg-secondary" id="header">
      <nav>
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <%= link_to root_path, class:"d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none link-#{controller_name == 'home' ? 'primary' : 'gray'}" do %>
                <span class="fs-4"> <%= t 'app_name' %>  </span>
              <% end %>
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                  <%= link_to "Meios de Pagamento", payment_methods_url , class:"nav-link px-2 link-#{controller_name == 'payment_methods' ? 'primary' : 'gray'}" %>
                </li>
                <li>
                  <%= link_to "Promoções", promos_url , class:"nav-link px-2 link-#{controller_name == 'promos' ? 'primary' : 'gray'}" %>
                </li>
                <li>
                  <%= link_to "Minha Seguradora", company_payment_options_url, class:"nav-link px-2 link-#{controller_name == 'company_payment_options' ? 'primary' : 'gray'}" %>
                </li> 
                <li>
                  <%= link_to "Usuários", users_path, class:"nav-link px-2 link-#{controller_name == 'users' ? 'primary' : 'gray'}" if admin_signed_in? %>
                </li> 
                <li class="nav-link text-secondary-light px-2">
                  <% if user_signed_in? %>
                    <%= user_greetings(current_user) %>
                  <% end %>
                  <% if admin_signed_in? %>
                    <%= user_greetings(current_admin) %>
                  <% end %>
                </li> 
                <% if admin_signed_in? %>    
                  <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://img.freepik.com/premium-vector/person-avatar-design_24877-38130.jpg?w=2000" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                      <li><%=  button_to 'Logout', destroy_admin_session_path, method: :delete, class: "dropdown-item"%></li>
                    </ul>
                  </div>
                <% end %>
              </ul> 
              <div class="dropdown text-end">
                <% if !admin_signed_in? %>
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small">
                    <% if user_signed_in? %>
                      <%= button_to 'Logout', destroy_user_session_path, method: 'delete', class: "dropdown-item"%>
                    <% else %>
                      <%= link_to 'Fazer Login', new_user_session_path, class: "dropdown-item" %>
                    <% end %>    
                  </ul>
                <%end%>
              </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <div class="container-flex mx-auto px-3 rounded"  style="padding: 2%; width: 98%;">
        <%= yield %>
      </div>
    </main>
  </body>
  
</html>
