<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'app_name' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id ='nav'>
    <header class="p-3 mb-3 border-bottom bg-secondary" id="header">
      <nav>
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <%= link_to root_path, class:"d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none #{ nav_link_class('home')}" do %>
              <span class="fs-5"><%= image_tag "logo_light.png", width: 190, height:30 %></span>
            <% end %>
            <% if user_signed_in? %>
              <%= render 'users/users_nav' %>
            <% elsif admin_signed_in? %>
              <%= render 'admins/admins_nav' %>
            <% else %>
              <%= render '/visitors_nav' %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if notice %>
        <p class="alert alert-success"> <%= notice %> </p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"> <%= alert %> </p>
      <% end %>
      <div class="container-flex mx-auto px-3 rounded"  style="padding: 2%; width: 98%;">
        <%= yield %>
      </div>
    </main>
  </body>

</html>
